go 1.18

use (
	./balancedSums
	./bitwise_xor
	./caesar_cipher
	./counter_game
	./dynamic_array
	./flip_paper
	./grid_challenge
	./matching_socks
	./minmax2
	./permutation_validation
	./recursive_digit_sum
	./subarray_division
)
