go 1.18

use (
	./array_manuplation
	./balancedSums
	./balanced_brackets
	./bigsorting
	./binary_search
	./bitwise_xor
	./bomberman
	./caesar_cipher
	./climbing_the_leaderboard
	./counter_game
	./dynamic_array
	./equal_stack
	./flip_paper
	./grid_challenge
	./icecream_parler
	./insertNodeAtPosition
	./matching_socks
	./max_subarray
	./minimal_bribes
	./minmax2
	./pairs
	./palendrome
	./permutation_validation
	./prefix_set
	./prefix_sum
	./queue
	./radio_transmission
	./recursive_digit_sum
	./reverse_doublelinked_list
	./reverse_linkedlist
	./string_frequency_validator
	./subarray_division
	./sweatness
	./trucktour
)
